// Color Variables
$primary_color:#007bff;
$primary_hover_color:#0056b3;
$success-color:#28a745;
$success-hover-color:#333;
$bg-color:wheat;

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: wheat;
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;

    h1{
        color:$primary_hover_color;
    }
    h4{
        color:#666
    }
    table{
        width:100%;
        margin-top:20px;
        border-collapse:collapse;
        th,td{
            padding:10px;
            border:1px solid #ccc;
            th{
                background-color: #f0f0f0;
                color:#333
            }
        }
    }
    a{
        display:inline-block;
        padding:8px 16px;
        margin:5px;
        border-radius: 20px;
        background-color: $primary_color;
        color:#fff;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color:$primary_hover_color;
        }
    }
    input{
        padding:10px;
        margin:5px;
        border:solid 1px;
        border-radius: 5px;
    }
    #btn_add{
        background-color: $success-color;
        color:#fff;
        cursor:pointer;
        &:hover{
            background-color: $success-hover-color;
        }
    }
}

